@{
    ViewData["Title"] = "Успешно выполнено";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Mulish:wght@200;300&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Сохранение выполнено успешно</h1>
    <p><a href="javascript:void(0);" onclick="goBack()">Вернуться назад</a></p>

    <p>Сохраненные данные:</p>

    <h2>Данные из таблицы Appointments</h2>
    <table>
        <thead>
            <tr>
                <th>Комментарий врача</th>
                <th>ID врача</th>
                <th>ID пациента</th>
                <th>ID результата</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.Appointment != null)
            {
                <tr>
                    <td>@ViewBag.Appointment.DoctorComment</td>
                    <td>@ViewBag.Appointment.FkDoctorId</td>
                    <td>@ViewBag.Appointment.FkPatientId</td>
                    <td>@ViewBag.Appointment.FkResultId</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>