@{
    ViewData["Title"] = "Результат анализа";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <h1>Результат анализа</h1>
    <div>
        <h6>С вероятностью @ViewBag.BestValue можем сделать вывод что у вас @ViewBag.BestClass</h6>
        <img src=@ViewBag.Img alt="Изображение результата" class="ResultImg"/>
    </div>
    <br />
    <h4>Подробнее о диагнозе:</h4>
    <div>
        <p>
            @ViewBag.About
        </p>
    </div>
    <h4>Вероятность других заболеваний:</h4>
    <table>
        <thead>
            <tr>
                <th>Диагноз</th>
                <th class="probability">Вероятность</th>
            </tr>
        </thead>
        <tbody>
            @foreach (KeyValuePair<string, float> result in ViewBag.ResultMessage)
            {
                <tr>
                    <td>@result.Key</td>
                    <td class="probability">@Math.Round(result.Value, 3)%</td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
