@{
    ViewData["Title"] = "Результат анализа";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
</head>
<body>
    <h1>Результат анализа</h1>
    <br />
    <div>
        <h6 style="text-indent: 25px;">С вероятностью <strong>@ViewBag.BestValue</strong> можем сделать вывод что у вас <strong>@ViewBag.BestClass</strong></h6>
        <img src=@ViewBag.Img alt="Не удалось оторазить картинку" class="ResultImg" width="500"/>
    </div>
    <div style="margin-right: 20px;">
        <a href="/Home/SaveResult" class="btn btn-primary">Перейти к вводу данных</a>
    </div>
    <br />
    <h4><strong>Подробнее о диагнозе:</strong></h4>
    <div>
        <p style="text-indent: 25px;">
            @ViewBag.About
        </p>
    </div>
    <br />
    <h4><strong>Вероятность других диагнозов:</strong></h4>
    <table>
        <thead>
            <tr>
                <th>Диагноз</th>
                <th class="probability">Вероятность</th>
            </tr>
        </thead>
        <tbody>
            @foreach (KeyValuePair<string, float> result in ViewBag.ResultMessage)
            {
                <tr>
                    <td>@result.Key</td>
                    <td class="probability">@Math.Round(result.Value, 3)%</td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>
